$font-primary: "Podkova", serif;

$bg-primary: #d4cfc7;
$bg-secondary: #a39e96;
$accent: #453e36;
$white: #fffffd;

$fs-xs: 0.75rem;
$fs-sm: 0.897rem;
$fs-base: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.5rem;
$fs-xl: 1.75rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-4xl: 4rem;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
